:root {
    --size: 100vh
}

.map {
    left: calc(50vw - var(--size)/2);
    top: 0;
    outline: 1px solid rgb(133, 133, 133);
    border: 1px solid transparent;
    border-radius: .75rem;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: none;
    z-index: 1;

    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}