.button {
    padding-inline: 40px;
    padding-block: 20px;

    box-sizing: border-box;

    cursor: pointer;
    
    font-size: 25px;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    color: #000;

    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
}

.button:hover {
    background-color: #d1d1d1;
}